<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 상세</title>
  <link rel="stylesheet" href="../css/notice/common.css">
</head>
<body>
  <div class="wrap">
    <div class="content">
      <h3>공지사항 상세</h3>
      <hr>
      <form th:object="${detailForm}">
        <ul>
          <li>
            <span>작성자</span>
            <input type="text" readonly="readonly" th:field="*{author}">
            <!-- <input type="text" readonly="readonly" id="author" name="author" value="작성자1">-->
          </li>
          <li>
            <span>제목</span>
            <input type="text" readonly="readonly" th:field="*{subject}">
          </li>
          <li>
            <span>내용</span>
            <textarea cols="30" rows="10" readonly="readonly" th:field="*{content}"></textarea>
          </li>
          <li>
            <button type="button" id="editBtn">수정</button>
            <button type="button" id="delBtn">삭제</button>
            <button type="button" id="listBtn">목록</button>
          </li>
        </ul>
      </form>
    </div>
  </div>    
  <script>

    const $editBtn  = document.getElementById('editBtn');
    const $delBtn   = document.getElementById('delBtn');
    const $listBtn  = document.getElementById('listBtn');

    $editBtn.addEventListener('click',()=>location.href='editForm.html');
    $delBtn.addEventListener('click', e => {
      if(!confirm('삭제하시겠습니까?')) return;
      location.href='list.html';
    });
    $listBtn.addEventListener('click',()=>location.href='list.html');
  </script>
</body>
</html>