<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원탈퇴</title>
</head>

<body>
  <h3>회원탈퇴</h3>
  <hr>
  <form action="" method="post">
    <ul>
      <li>
        <p>탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.</p>
      </li>
      <li>
        <label for="">비밀번호</label>
        <input type="password">
      </li>
      <li>
        <input type="checkbox" name="" id="">
        <label for="">안내 사항을 모두 확인하였으며, 이에 동의합니다</label>
      </li>
      <li>
        <button type="submit">탈퇴</button>
      </li>
    </ul>
  </form>
</body>
</html>