<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
  <style>
    .bbs-wrap * {
      /* outline:1px solid red; */
      box-sizing: border-box;
    }
    .bbs-wrap { width:80% }
    .bbs-wrap .bbs-title {
      text-align: center; padding:20px 0;
    }
    .bbs-wrap .bbs-content{
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 5px;
    }
    .bbs-wrap .bbs-content .w100{
      width:100%; padding:3px;
    }
    .bbs-wrap .bbs-btngrp{
      display:flex;
      justify-content: flex-end;
    }
  </style>
</head>

<body>
  <div class="bbs-wrap">
    <div class="bbs-title"><h3>게시글 작성</h3></div>
    <div class="class-body">
      <form action="" method="post" th:object="${addForm}">
        <div class="bbs-content">
           <div><lable>분류</lable></div>
           <div>
            <select name="" id="" class="w100" th:field="*{bcategory}">
              <option value="" >==선택==</option>
              <th:block th:each="code : ${classifier}">
                <option value="" th:value="${code.code}" th:text="${code.decode}">게시판1</option>
              </th:block>
            </select>
           </div>
           <div><lable>제목</lable></div>
           <div><input type="text" name="" id="" class="w100" th:field="*{title}"></div>
           <div><lable>작성자</lable></div>
           <div><input type="text" name="" id="" class="w100" th:field="*{nickname}"></div>
           <div><lable>내용</lable></div>
           <div><textarea name="" id="" rows="10" class="w100" th:field="*{bcontent}"></textarea></div>
           <div><lable>첨부</lable></div>
           <div><input type="file" name="" id="" class="w100" multiple></div>
        </div>
        <div class="bbs-btngrp">
          <button>등록</button>
          <button type="button" id="listBtn">목록</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    listBtn.addEventListener("click",e=>{
      location.href = "/bbs";
    });
  </script>
</body>
</html>