<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main::main(
        ~{::title},       <!--/* title */-->
        ~{::link},              <!--/* styles */-->
        ~{::script},              <!--/* scripts */-->
        ~{},       <!--/* style */-->
        ~{},      <!--/* script */-->
        ~{::.upm-inner},  <!--/* upm */-->
        ~{},              <!--/* header */-->
        ~{::nav},         <!--/* nav */-->
        ~{::main},        <!--/* main */-->
        _                 <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
  <link rel="stylesheet" href="" th:href="@{/css/bbs/list.css}">
  <script defer src="" th:src="@{/js/bbs/list.js}"></script>
</head>
<body>
<div class="global-wrap">
  <div class="upm">
    <div class="inner upm-inner">
      <th:block th:replace="~{fragment/uppermost::afterLoginUpm}"></th:block>
    </div>
  </div>
  <div class="hdr">
    <div class="inner hdr-inner">
      <header>header</header>
    </div>
  </div>
  <div class="gnb">
    <div class="inner gnb-inner">
      <nav th:replace="~{fragment/menu::global}"></nav>
    </div>
  </div>
  <div class="main">
    <div class="inner main-inner">
      <main>
        <div class="bbs-wrap" th:data-code="${category}">
          <div class="bbs-title" ><h3 th:text="${bbsTitle['__${category}__']}?:_">전체목록</h3></div>
          <div class="bbs-body">
            <div class="bbs-content">
              <table>
                <thead>
                <tr>
                  <th>번호</th>
                  <th>분류</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${list}">
                  <td th:text="${item.bbsId}"></td>
                  <td th:text="${#strings.isEmpty(category)?
                    bbsTitle[item.bcategory]
                    :bbsTitle['__${category}__']}">자유게시판</td>
                  <td>
                    <!--들여쓰기-->
                    <th:block th:if="${item.bindent} > 0">
                      <!--                  컬렉션없이 단순 반복 처리하고자할때 -->
                      <!--                  Create a sequence (array) of integer numbers going from x to y -->
                      <!--                  ${#numbers.sequence(from,to)}-->
                      <span th:each="cnt : ${#numbers.sequence(1,item.bindent)}">&nbsp;&nbsp;</span>
<!--                      <i class="fa-solid fa-reply"></i>-->
                      <i class="fa-solid fa-comment-dots"></i>
                    </th:block>
                    <a href="" th:href="@{/bbs/{id}(id=${item.bbsId},category=${category})}" th:text="${item.title}">제목</a>
                  </td>
                  <td th:text="${item.nickname}">작성자1</td>
                  <td th:text="${#temporals.format(item.cdate,'yy/MM/dd HH:dd')}">작성일1</td>
                  <td th:text="${item.hit}">5</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="bbs-btngrp">
              <button type="botton" id="writeBtn" th:data-code="${code}" class="btn btn-outline-primary btn-sm">글작성</button>
            </div>

            <div class="bbs-page">
              <!--이전페이지정보-->
              <th:block th:if="${fc.prev}">
                <a class="bbs-page-item" href=""
                   th:href="@{/bbs/list/1/{searchType}/{keyword}(searchType=${fc.searchType},keyword=${fc.keyword},category=${param.category})}">
                  <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="bbs-page-item" href=""
                   th:href="@{/bbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.startPage-1},searchType=${fc.searchType},keyword=${fc.keyword},category=${param.category})}">
                  <i class="fas fa-angle-left"></i>
                </a>
              </th:block>

              <!--페이지표시-->
              <th:block th:each="pnum : ${#numbers.sequence(fc.startPage,fc.endPage)}">
                <th:block th:if="${pnum != 0}">
<!--                  <a class="bbs-page-item" th:classappend="${fc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{|/bbs/list/${pnum}|}" th:text="${pnum}">1</a>-->
                  <a class="bbs-page-item" th:classappend="${fc.rc.reqPage == pnum} ? 'active'" href=""
                     th:href="@{/bbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${pnum},searchType=${fc.searchType},keyword=${fc.keyword},category=${param.category})}"
                     th:text="${pnum}">1</a>
                </th:block>
              </th:block>

              <!--다음페이지정보-->
              <th:block th:if="${fc.next}">
                <a class="bbs-page-item" href=""
                   th:href="@{/bbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.endPage+1},searchType=${fc.searchType},keyword=${fc.keyword},category=${param.category})}">
                  <i class="fas fa-angle-right"></i>
                </a>
                <a class="bbs-page-item" href=""
                   th:href="@{/bbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.finalEndPage},searchType=${fc.searchType},keyword=${fc.keyword},category=${param.category})}">
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </th:block>
            </div>

            <div class="bbs-search">
              <select id="searchType" name="searchType" th:field="${fc.searchType}">
                <option th:value="TC">제목+내용</option>
                <option th:value="T">제목</option>
                <option th:value="C">내용</option>
                <option th:value="E">아이디</option>
                <option th:value="N">별칭</option>
              </select>
              <input type="text" id="keyword" name="keyword" th:field="${fc.keyword}">
              <button id="searchBtn">검색</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>
          footer
        </footer>
      </div>
    </div>
  </div>
</body>
</html>