<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
  <th:block th:fragment="beforeLoginUpm">
    <div class="logo"><a href="" th:href="@{/}"><i class="fa-solid fa-house"></i></a></div>
    <div class="upm-menu">
      <div class="login"><a href="" th:href="@{/login}">로그인</a></div>
      <div class="join"><a href="" th:href="@{/members/add}"}>회원가입</a></div>
    </div>
  </th:block>
  <th:block th:fragment="afterLoginUpm">
    <div class="logo"><a href="" th:href="@{/}"><i class="fa-solid fa-house"></i></a></div>
    <div class="upm-menu">
      <div class="upm-menu-profileimg">
        <img  th:src="@{/api/members/{memberId}/pfimg(memberId=${s_memberId})}" alt=""
             onerror="this.src='/img/noprofile.jpg'" ></div>
      <div class="mypage"><a href="" th:href="@{/members/mypage}"}>내정보</a></div>
      <div th:text="|[${s_nickname}]|"></div>
      <div class="logout"><a href="" th:href="@{/logout}">로그아웃</a></div>
    </div>
  </th:block>
</body>
</html>