<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원상세</title>
</head>
<body>
  <form>
    <ul>
      <li><h3>회원상세</h3></li>
      <li>
        <label for="email">아이디</label>
        <input type="text" name="email" id="email" th:value="${member.email}" readonly="readonly">
      </li>
      <li>
        <label for="nickname">별칭</label>
        <input type="text" name="nickname" id="nickname" th:value="${member.nickname}" readonly="readonly">
      </li>
      <li>
        <a th:href="@{/admin/members}">회원목록</a>
        <a href="#" id="outMember" th:data-email="${member.email}">회원탈퇴</a>
      </li>
    </ul>
  </form>
  <script>
    outMember.addEventListener('click',function(evt){
      evt.preventDefault();  //기본 이벤트 처리 방지
      if(!confirm('회원삭제 하겠습니까?')){
        return false;
      }else{
        const email = evt.target.dataset.email;
        location.href=`/admin/members/${email}/del`;
      }
    });
  </script>
</body>
</html>