<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main::main(
        ~{::title},       <!--/* title */-->
        ~{},              <!--/* styles */-->
        ~{},              <!--/* scripts */-->
        ~{::style},      <!--/* style */-->
        ~{},              <!--/* script */-->
        ~{::.upm-inner},  <!--/* upm */-->
        ~{::header},      <!--/* header */-->
        ~{::nav},         <!--/* nav */-->
        ~{::main},        <!--/* main */-->
        _                 <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 후</title>
  <style>
    #myCarousel img{
      height:200px;
    }
  </style>
</head>
<body>
<div class="global-wrap">
  <div class="upm">
    <div class="inner upm-inner">
      <th:block th:replace="~{fragment/uppermost::afterLoginUpm}"></th:block>
    </div>
  </div>
  <div class="hdr">
    <div class="inner hdr-inner">
      <header th:replace="~{fragment/header::beforeLogin}">header</header>
    </div>
  </div>
  <div class="gnb">
    <div class="inner gnb-inner">
      <nav th:replace="~{fragment/menu::global}"></nav>
    </div>
  </div>
  <div class="main">
    <div class="inner main-inner">
      <main>
        <div class="product-wrap">
          <div class="product-item">
            <img src="http://placeimg.com/150/120/any" width="100%">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img src="http://placeimg.com/150/120/any">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img src="http://placeimg.com/150/120/any">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="http://ipsumimage.appspot.com/150x150" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
          <div class="product-item">
            <img class="product-img" src="" alt="">
            <p>설명</p>
            <p>가격</p>
          </div>
        </div>
      </main>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>
          <div class="copyright">Copyright © KH울산정보교육원 Co.,Ltd. All Rights Reserved</div>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>