<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면-로그인전</title>
</head>
  <ul>
      <li><a href="/members/add">회원가입</a></li>
      <li><a href="/map">지도API</a></li>
      <li><a href="/covid">코비드 연령별,성별 감염현황</a></li>
      <li><a href="/bbs">게시판</a></li>
      <li><a href="/login">로그인</a></li>
  </ul>
<body>
  hello~!
</body>
</html>